# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Python virtual environments
.env
.venv
env/
venv/
ENV/

# OS specific files
.DS_Store
Thumbs.db
desktop.ini

# IDE configs
.vscode/
.idea/
